a:hover{
    text-decoration: none;
}
.header{
    background-color: #fff;
}
.header-wrap{
    width: 1200px;
    position: relative;
    height: 60px;
    margin: 0 auto;
}
.header-logo{
    width: 126px;
    height: 40px;
    background: url("../images/logo.png") left center no-repeat;
    position:absolute;
    top: 10px;
    left: 30px;
}
.header__nav{
    position: absolute;;
    left: 420px;
    height:38px;
    top:50%;
    margin-top:-19px;
}
.header__nav-item{
    color:#292f35;
    font-size:14px;
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 40px;
    float:left;
    text-align: center;
    position: relative;
}
.header__nav-item:hover{
    color:#f01400;
}
.header__nav-tip{
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #f00;
    bottom: 0;
    left: 0;
    margin-left: 39px;
}
.header-action {
    position: absolute;
    right: 30px;
    top: 0;
}
.header-action .header-search {
    position: relative;
    float: left;
    height: 66px;
}
.header-action .header-search-btn {
    position: absolute;
    right: 0;
    width: 25px;
    height: 41px;
    padding-top: 25px;
    padding-right: 10px;
    font-size: 0;
    cursor: pointer;
    transition: all .2s;
    text-align: right;
}
.header-action .header-search-btn:hover {
    opacity: .5;
}
.header-action .header-search-btn span {
    color: rgba(41, 41, 41, 0.6);
    font-size: 14px;
}
.header-action .header-search-container {
    float: right;
    height: 66px;
    overflow: hidden;
}
.header-action .header-search:hover .search-input {
    width: 168px;
    padding-left: 12px;
}
.header-action .search-input {
    float: right;
    margin-top: 20px;
    width: 0;
    height: 26px;
    border: none;
    outline: none;
    background: rgba(83, 83, 83, 0.1);
    border-radius: 13px;
    color: #000;
    transition: all .5s ease;
}
.header-action .search-input:focus {
    width: 168px;
    padding-left: 12px;
}
.header-action .header-line {
    float: left;
    width: 2px;
    height: 10px;
    margin: 28px 12px;
    background: rgba(83, 83, 83, 0.5);
    opacity: .4;
}
.header-action .header-status {
    float: left;
}
.header-action .header-btn1 {
    display: inline-block;
    margin: 20px 7px;
    padding: 0 15px;
    height: 22px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 13px;
    text-align: center;
    color: rgba(41, 41, 41, 0.8);
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
}
.header-action .header-btn1:hover {
    opacity: 0.5;
}
.header-action .header-btn2 {
    position: relative;
    display: inline-block;
    margin: 20px 7px;
    padding: 0 15px;
    height: 22px;
    border: 2px solid #00bdff;
    background: #00bdff;
    border-radius: 13px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
}
.header-action .header-btn2:hover {
    background: #00a4f0;
    border: 2px solid #00a4f0;
}
.header-dropdown .header-submenu {
    display: none;
    width: 100%;
    height: 250px;
    background-color: #000;
}
.header-dropdown .submenu-container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: left;
}
.header-dropdown .submenu-data {
    width: 1300px;
    padding-left: 50px;
}
.header-dropdown .submenu-data-item {
    float: left;
    width: 200px;
}
.header-dropdown .submenu-data-type {
    position: relative;
    display: block;
    margin-bottom: 30px;
    font-size: 16px;
    color: #fff;
}
.header-dropdown .submenu-data-type strong {
    font-weight: normal;
}
.header-dropdown .submenu-data-type:after {
    content: '';
    width: 18px;
    height: 3px;
    background: #fff;
    opacity: .3;
    border-radius: 1px;
    position: absolute;
    bottom: -14px;
    left: 0;
}
.header-dropdown .submenu-data-name {
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    overflow: hidden;
}
.header-dropdown .submenu-data-name .submenu-data-text {
    color: #fff;
    opacity: .5;
}
.header-dropdown .submenu-data-name .submenu-data-new {
    margin-left: 10px;
    display: inline-block;
    padding: 0 3px;
    line-height: 14px;
    border: 1px solid #e83b49;
    border-radius: 2px;
    font-size: 10px;
    color: #e83b49;
}
.header-dropdown .submenu-data-name .submenu-data-hot {
    margin-left: 10px;
    display: inline-block;
    padding: 0 3px;
    line-height: 14px;
    border: 1px solid #f39700;
    border-radius: 2px;
    font-size: 10px;
    color: #f39700;
}
.header-dropdown .submenu-data-name:hover .submenu-data-text {
    color: #00bdff;
    opacity: 1;
}
hr{
    width: 100%;
    margin-top: 0;
}
.screen-1{
    height: 380px;
    width: 1185px;
    margin-top: 30px;
    margin-left: 82px;
}
.screen-1__lunbotu{
    float: left;
    width: 875px;
    height: 380px;
}
.screen-1__lunbotu .list {
    position: relative;
    width: 875px;
    height: 380px;
    overflow: hidden;
}
.screen-1__lunbotu .list li {
    position: absolute;
    top: 0;
    left: 0;
    width: 875px;
    height: 380px;
    opacity: 0;
    transition: opacity 0.5s linear;
}
.screen-1__lunbotu .list li.current {
    opacity: 1;
}
.screen-1__lunbotu .count {
    position: absolute;
    left: 33%;
    bottom: 175px;
}
.screen-1__lunbotu .count li {
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 18px;
    overflow: hidden;
    background: #F90;
    opacity: 0.7;
    border-radius: 20px;
}
.screen-1__lunbotu .count li.current {
    opacity: 0.7;
    background: #f60
}
.screen-1__add{
    float: left;
    margin-left: 10px;
    width: 300px;
    height: 380px;
    padding: 17px;
    border-radius: 3px;
    border: 3px solid rgba(95, 95, 95, 0.4);

}
.sub-screen-1__add{
    width: 260px;
    height: 340px;
    padding-top: 30px;
    border-radius: 3px;
    border: 3px solid rgba(95, 95, 95, 0.4);
    text-align: center;
}
.screen-1__add span{
    float: left;
    width: 220px;
    height: 180px;
    border-radius: 10px;
    background: rgba(32, 32, 32, 0.85);
    padding-top: 8px;
    margin-left: 17px;
    font-size: 28px;
    color: #fff;
    opacity: 0.9;

}
.screen-1__add a{
    display: inline-block;
    margin-left: 0;
    margin-top: 40px;
    height: 40px;
    width: 150px;
    background: #00bdff;
    border-radius: 13px;
    font-family: "黑体";
    color: #fff;
    font-size: 22px;
    line-height: 38px;
    transition: all .2s;
}
.screen-1__add a:hover {
    opacity: 0.5;
}
.screen-2{
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
}
.recommendation{
    width: 1200px;
    margin-bottom: 30px;
    overflow: hidden;
}
.recommendation span{
    float: left;
    font-size: 35px;
    color: #ff5441;
}
.recommendation p{
    float: left;
    margin-left: 15px;
    font-size: 25px;
    color: #292929;
    font-weight: 600;
    font-family: "microsoft yahei";
}
.api-list-ul{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: hidden;
}
.api-list-li{
    position: relative;
    list-style-type: none;
    float: left;
    width: 226px;
    height: 230px;
    border: 1px solid #00bdff;
    border-radius: 7px;
    margin: 0 15px 15px 0;
}
.api-list-li:hover{
    box-shadow: 0px 9px 9px -9px #00bdff;
}
.api-list-li:hover .api-info{
    transform: translateY(-15px);
    transition: .7s;
}
.api-list-li:hover .api-get-btn{
    opacity: 1;
    animation-fill-mode: forwards;
    animation: floatbtn .7s;
}
@keyframes floatbtn{
    from {bottom: 10px;opacity: 0;}
    to {bottom: 30px;opacity: 1;}
}
.api-info{
    padding-top: 50px;
    transition: .5s;
    text-align: center;
}
.api-info a{
    display: inline-block;
}
.api-name{
    color: #666;
    font-size: 14px;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
}
.api-price{
    color: #ff5441;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.api-price.yellow{
    color: #fda527;
}
.api-price.green{
    color: #29c287;
}
.api-get-btn{
    opacity: 0;
    position: absolute;
    bottom: 17px;
    left: 50%;
    margin-left: -96px;
    width: 192px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #00bdff;
    border-radius: 3px;
    text-decoration: none;
    padding: 0;
    transition: .5s;
}
.api-get-btn:hover{
    background-color: #00aeff;
}
.footer {
    width: 100%;
    height: 230px;
    background: rgba(194, 194, 194, 0.21);
}
.footer-container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer-container .footer-link {
    float: left;
}
.footer-container dl {
    float: left;
    width: 170px;
    padding-left: 60px;
}
.footer-container dl dt {
    margin-bottom: 25px;
    font-size: 14px;
    position: relative;
}
.footer-container dl dt:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #999;
    opacity: .5;
    border-radius: 1px;
    position: absolute;
    top: 7px;
    left: -15px;
}
.footer-container dl dd {
    font-size: 12px;
    line-height: 28px;
    opacity: .5;
    cursor: default;
}
.footer-container dl dd a {
    color: #666;
    cursor: pointer;
}
.footer-img{
    float: left;
    margin-left: 240px;
}
