<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>测试管理</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/test.css" />
		<link rel="stylesheet" href="css/common.css" />
		<script type="text/javascript" src="js/myVue.js"></script>
		<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
	</head>

	<body>
		<div id="checkList">
		<div id="x-nav">
			<img src="images/logo.png" width="100" />
			<span style="border-left: 1px solid #bbb;">&nbsp;测试管理</span>
			<ul class="setting">
				<li>
					<span class="glyphicon glyphicon-bell">消息</span>
				</li>
				<li>
					<span class="glyphicon glyphicon-log-out" @click="logout">退出</span>
				</li>
			</ul>
		</div>
		<div class="searchNav">
			<ul class="navItem">
				<li>
					<p><span class="glyphicon glyphicon-user"></span>欢迎测试用户：XXX</p>
				</li>
				<li style="float: right;">
					<button class="btn btn-xs glyphicon glyphicon-refresh"></button>
				</li>
			</ul>
		</div>
		<!--<div class="searchDiv">
    <div class="container search_box">
        <div class="search_input">
            <div class="col-lg-12 input-group">
                <span>录入用户ID：</span>
                <input id="searchUserID" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="search_input">
            <div class="col-lg-12 input-group">
                <span>录入用户名称：</span>
                <input id="searchUserName" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="search_input">
            <div class="input-group col-lg-12">
                <span>api名称：</span>
                <input id="searchApiName" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="search_input">
            <div class="input-group col-lg-12">
                <span>apiID：</span>
                <input id="searchApiID" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="search_input">
            <div class="col-lg-12 input-group">
                <span>类别名：</span>
                <input id="searchClassify" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="search_input">
            <div class="col-lg-12 input-group">
                <span>录入时间范围(Start)：</span>
                <input id="searchStartTime" type="date" class="form-control" placeholder="">
            </div>
        </div>
        <div class="search_input">
            <div class="col-lg-12 input-group">
                <span>录入时间范围(End)：</span>
                <input id="searchEndTime" type="date" class="form-control" placeholder="">
            </div>
        </div>
        <div class="search_input">
            <div class="col-lg-12 input-group">
                <span>测试状态：</span>
                <select name="" class="form-control">
                    <option value="">全部</option>
                    <option value="">通过</option>
                    <option value="">不通过</option>
                </select>
            </div>
        </div>
        <div class="search_input">
            <div class="col-lg-12 input-group">
                <span>关键词搜索：</span>
                <input id="searchKeyWord" type="text" class="form-control" placeholder="请输入关键词">
            </div>
        </div>
        <div class="search_input search_button">
            <button class="btn btn-primary search_btn" type="button" id="search_btn">查询</button>
            <button class="btn btn-primary search_btn" type="button" id="back_btn">重置</button>
        </div>
    </div>
</div>-->
		<!--<div class="searchNav">
    <ul class="navItem">
        <li>
            <p><span class="glyphicon glyphicon-list-alt"></span>已为您查询到如下结果：</p>
        </li>
        <li style="float: right;">
            <button class="btn btn-xs glyphicon glyphicon-refresh"></button>
        </li>
    </ul>
</div>-->
		<div class="checkInfo" >
			<label>状态类别：</label>
			<!--<input type="radio" id="0" value="未审核" v-model="status" />
			<label for="0">未审核</label>-->
			<input type="radio" id="1" value="审核通过" v-model="status" />
			<label for="1">审核通过</label>
			<input type="radio" id="2" value="测试通过" v-model="status" />
			<label for="2">测试通过</label>
			<input type="radio" id="3" value="测试失败" v-model="status" />
			<label for="3">测试失败</label>
			<input @click="getApis()" type="button" value="查找" class="btn btn-primary search_btn" />
			<table border="" cellspacing="" cellpadding="" class="table table-hover">
				<tr>
					<th>用户名称</th>
					<th>apiID</th>
					<th>api地址</th>
					<th>请求方式</th>
					<th>请求数据类型</th>
					<th>返回数据类型</th>
					<th>请求协议</th>
					<th>参数</th>
					<th>操作</th>
				</tr>
				<tr v-cloak v-for="(item, index) of apis">
					<td>{{item.publisher}}</td>
					<td>{{item.id}}</td>
					<td>{{item.apiAddress}}</td>
					<td>{{item.requestType}}</td>
					<td>{{item.requestDataFormat}}</td>
					<td>{{item.returnDataFormat}}</td>
					<td>{{item.protocol}}</td>
					<td>{{item.params}}</td>
					<td>
						<button @click="showUpdateOverlay(index)" type="button" class="btn btn-default updateBtn">测试</button>
						<!--<button @click="deleteRole(item.id)" type="button" class="btn btn-default deleteBtn">通过测试</button>-->
						<button @click="errorLog(item.id)" type="button" class="btn btn-default deleteBtn">报错</button>
					</td>
				</tr>
				<!--<tbody class="detailBox">
					<tr>
						<td>01</td>
						<td>小明</td>
						<td>A1</td>
						<td>二维码生成器</td>
						<td>开发工具</td>
						<td>2019/3/28</td>
						<td>
							<span class="label label-success">测试通过</span>
						</td>
						<td>
							<div class="btn-group btn-group-xs">
								<button type="button" class="btn btn-default checkBtn"><span class="glyphicon glyphicon-pencil"></span>测试</button>
								<button type="button" class="btn btn-default detailBtn"><span class="glyphicon glyphicon-list"></span>查看详情</button>
							</div>
						</td>
					</tr>
				</tbody>-->
			</table>
			<update-modal :resource="selectedApi" :isactive="isUpdateActive" @change="changeUpdateOverlay()"></update-modal>
			<hr />
			<div class="btn-group">
				<!--<button type="button" class="btn btn-default" id="pass">通过测试</button>
				<button type="button" class="btn btn-default" id="fail">不通过测试</button>
				<button type="button" class="btn btn-default" id="save">保存</button>-->
			</div>
			<nav aria-label="Page navigation" class="fenye">
				<ul class="pagination">
					<li class="disabled">
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		</div>
		<script type="application/javascript" src="js/jquery.min.js"></script>
		<script type="application/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/test.js"></script>
		<script>
			Vue.component('update-modal', {
				props: ['resource', 'isactive','params'],
				template: `<div class="overlay" v-show="isactive">
                        <div class="con">
                        <h2 class="title">测试Api</h2>
                        <div class="content">
                        <table id="updateInfo" class="table modal-table">
							<tbody>
								<tr>
									<td class="tb_bg">
										<label for="">请求地址</label>
									</td>
									<td>
										<input v-model="resource.apiAddress" type="text" class="update" readonly />
									</td>
									<td class="tb_bg">
										<label>请求数据类型:</label>
									</td>
									<td>
										<input v-model="resource.requestType" type="text" class="update" readonly />
									</td>
								</tr>
								<tr>
									<td class="tb_bg">
										<label for="">参数:</label>
									</td>
								</tr>
								<tr v-for="(item, index) in resource.params">
									<td class="tb_bg"><label >{{item.paramName}}({{item.paramType}}):</label>
									<td>
										<input v-model="resource.data" type="text" class="update"/>
									</td>
								</tr>
							</tbody>
						</table>
                        <p align="center">
                        <input type="button" @click="changeActive" value="关闭">
                        <input type="button" @click="send" value="发送">
                        <input type="button" @click="modify" value="通过测试">
                        </p>
                        </div>
                        </div>
                </div>`,
				computed: {
					User() {
						return this.resource;
					}
				},
				methods: {
					changeActive() {
						this.$emit('change');
					},
					modify() {
						//this.$emit('modify', this.User);
						this.$http.post('http://csust.ngrok.xiaomiqiu.cn/apishop/api/checkApi', {
							status: '测试通过',
							aids: [this.resource.id]
						}, {
							emulateJSON: true
						}).then(
							function(data) {
								alert('通过成功');
							},
							function() {
								alert('通过测试失败')
							}
						);

					},
					send() {
						console.log(this.resource.data);
						if(this.resource.requestType.toUpperCase() == "GET") {
							this.$http.get(this.resource.apiAddress, {

							}, {
								emulateJSON: true
							}).then(
								function(data) {
									alert('获取成功');
								},
								function() {
									alert("获取失败")
								}
							);
						} else {
							this.$http.post(this.resource.apiAddress, {

							}, {
								emulateJSON: true
							}).then(
								function(data) {
									alert('测试成功');
								},
								function() {
									alert('测试失败');
								}
							)
						}

					}
				}
			});
			
			Vue.http.options.emulateHTTP = true;
			Vue.http.options.headers = {
    			'authToken':localStorage.getItem('token')
			}  
			var test = new Vue({
				el: "#checkList",
				data: {
					status: '审核通过',
					apis: [],
					selectedApi: {},
					isUpdateActive: false,
					params:{}
				},
				mounted: function() {
					this.getApis();
				},
				methods: {
					getApis: function() {
						this.$http.post('http://csust.ngrok.xiaomiqiu.cn/apishop/api/getApi', {
							status: this.status
						}, {
							emulateJSON: true
						}).then(
							function(data) {
								console.log(data.body);
								data = data.body;
								if(data.length == 0) {
									alert('暂无数据');
								}
								this.apis = data;
							},
							function() {
								alert("获取api信息失败！请稍后重试！");
							}
						);
					},
					showUpdateOverlay: function(index) {
						this.selectedApi = JSON.parse(JSON.stringify(this.apis[index]));
						this.selectedApi.data = [];
						this.changeUpdateOverlay();
					},
					changeUpdateOverlay: function() {
						this.isUpdateActive = !this.isUpdateActive;
					},
					errorLog: function(id) {
						this.$http.post('http://csust.ngrok.xiaomiqiu.cn/apishop/api/checkApi', {
							status: '测试失败',
							aids: [id]
						}, {
							emulateJSON: true
						}).then(
							function(data) {
								alert('成功调试为测试失败');
								window.location.reload();
							},
							function() {
								alert('通过测试失败')
							}
						);
					},
					logout: function(){
						if(window.confirm('你确定要退出吗？')) {
							window.location.href = "login.html";
						} else {
							return false;
						}
					}
				}
			})
		</script>
	</body>

</html>